<div id="top" class="top-section">
  <div class="container">
    <h2>単純明快、手軽で使いやすい</h2>
    <p>SimplestBoardはできるだけ使いやすさにこだわった電子掲示板です。</p>
  </div>
</div>


<div id="features" class="features-section">
  <div class="container">
    <div class="section-title">
      <h3>特徴</h3>
    </div>
    <h4>スマートフォンにも対応</h4>
    <p>iPhoneでもこの掲示板を利用できます。</p>
  </div>
</div>


<div id="start" class="start-section">
  <div class="container">
    <div class="section-title">
      <h3>早速始めよう！</h3>
    </div>
    <%= link_to("スレッド一覧","/posts", {class: "start-button"}) %>
    <%= link_to("新規投稿","/posts/new", {class: "start-button"}) %>
  </div>
</div>


<footer>
  <h6>Copyright (C) 2018 A.Mabuchi All Rights Reserved.</h6>
  <p>このWebサービスはAWSおよびSwift、Ruby on Railsの学習用として開発されました。</p>
</footer>